:root {
    --header-background: #FCFCFC;
    --header-background: #DE742B;
    --title-color: #000000;
    --text-color: #DF803E;                 
}

/* font-family: "Playfair Display", serif;
font-family: "Inter", sans-serif;
font-family: "Roboto", sans-serif; */

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

h1, h2, h3, h4, h5, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

